@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="mt-6">
    <div class="columns">
        <div class="column is-4 is-offset-4 has-text-centered box">
            <h1 class="title">@ViewData["Title"]</h1>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4 class="subtitle">Создание нового аккаунта.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="field">
                    <label asp-for="Input.Email" class="label"></label>
                    <input asp-for="Input.Email" class="input" />
                    <span asp-validation-for="Input.Email" class="is-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.Password" class="label"></label>
                    <input asp-for="Input.Password" class="input" />
                    <span asp-validation-for="Input.Password" class="is-danger"></span>
                </div>
                <div class="field">
                    <label asp-for="Input.ConfirmPassword" class="label"></label>
                    <input asp-for="Input.ConfirmPassword" class="input" />
                    <span asp-validation-for="Input.ConfirmPassword" class="is-danger"></span>
                </div>
                <button type="submit" class="button is-primary">Регистрация</button>
            </form>
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div class="buttons has-text-centered">

                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="button is-primary is-fullwidth" name="provider" value="@provider.Name" title="Вход используя @provider.DisplayName ">@provider.DisplayName</button>
                                }

                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>
